[submodule "third-party-tools/Orient-Anything-V2"]
	path = third-party-tools/Orient-Anything-V2
	url = https://github.com/SpatialVision/Orient-Anything-V2.git
[submodule "third-party-tools/sam3"]
	path = third-party-tools/sam3
	url = https://github.com/facebookresearch/sam3
[submodule "third-party-tools/Open-D4RT"]
	path = third-party-tools/Open-D4RT
	url = https://github.com/KlrShaK/Open-d4rt
[submodule "third-party-tools/Point4D"]
	path = third-party-tools/Point4D
	url = https://github.com/KlrShaK/Point4D.git
